<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="mainlog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/mnt/tmp/logs/sbhima.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
			<param name="ConversionPattern" value="%d %-5p [%c] [%X{MdcContext}] (%t) %m%n" />
		</layout>
	</appender>
	<appender name="consolelog" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
			<param name="ConversionPattern" value="%d %-5p [%c] [%X{MdcContext}] (%t) %m%n" />
		</layout>
	</appender>
	<category name="com.sbhima">
		<priority value="info,debug" ></priority>
		<appender-ref ref="mainlog" />
		<appender-ref ref="consolelog" />
	</category>
	<category name="org.springframework">
		<priority value="info" />
		<appender-ref ref="mainlog" />
		<appender-ref ref="consolelog" />
	</category>
</log4j:configuration>